:root {
    --primary: #cd4a04;
    --primary-light: #F48245;
    --primary-dark: #B93E09;
    --gray: #8c8c8c;
    --dark-gray: #555;
    --light-gray: #eaeaea;
    --black: #000;
    --black1: #343A40;
    --white: #fff;
    --blue: #0f418d;
    --mb-mobile: 14px;
    --mb-desktop: 20px;
}

header {
    background-color: var(--white);
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    border-bottom: 0.5pt solid var(--light-gray);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    padding: 0px 10px;
}


header .header-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 13px 0;
    max-width: 1230px;
    margin: 0 auto;
}
header .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 51px;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.4s ease;
    background-color: var(--white);
    overflow: auto;
    border-top: 0.5pt solid var(--light-gray);
    padding-top: 20px;
}

header a.mwc-cta {
    display: none;
    border: 2px solid f48245;
    border-radius: 4px;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: var(--black1);
}

header .main-nav {
    list-style-type: none;
    position: relative;
    font-size: 14px;
    line-height: 1.5;
}

header ul{
    list-style: none!important;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
}

header .main-nav-item {
    position: relative;
}


header .main-nav-item>a.header-cta{
    border: 2px solid var(--primary-light);
    border-radius: 4px;
    padding: 9px 27px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    transition: all 0.4s ease;
}


 #headerLogo{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-style: none;
}

.droplet{
    display: none;
}

.contact:hover  .droplet{
    display: block;
}

.header-cta:hover{
    background-color: #F48245;
    color: #fff;
    font-weight: bolder;
}



@media (min-width: 992px) {
    header .header-wrap {
        flex-wrap: nowrap;
        padding: 0;
        justify-content: flex-start;
    }

    header .nav {
        flex-grow: 1;
        position: static;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        margin-top: 0;
        overflow: initial;
        visibility: visible;
        transform: none;
        border-top: none;
        padding-top: 0;
    }
    header .main-nav {
        font-size: 13.5px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    header .main-nav-item:first-child {
        margin: 19px auto 0 0;
        padding: 0 0 19px;
    }

    header .main-nav-item {
        margin: 19px 17px 0;
        padding: 0 0 28px;
    }

    #headerLogo {
        padding: 0 0 22px 23px;
    }
    
    .droplet {
        background-color: #fffefe;
        position: absolute;
        width: 200px;
        top: 100%;
        left: 0;
        z-index: 999;
        border-radius: 4px;
        border-top: 1px solid var(--light-gray);
        box-shadow: 0 15px 20px 0 rgb(0 0 0 / 10%);
    }

    .droplet ul li a {
        font-size: inherit;
        padding: 11px 15px;
        cursor: pointer;
    }

    .droplet ul li{
        display: flex;
    }
}